h2 {
   color: orange;
   font-family: 'Sagoe UI', Tahoma, Geneva, Verdana, sans-serif;
   text-align: center;
}
p {
  font-family: 'Sagoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  text-align: left;
}